*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

html {
    height: auto;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    width: 100%;
    padding: 20px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
    z-index: 999;
}

header.rolagem {
    background-color: #ffffff;
    padding: 20px 4%;
}

header.rolagem a, header.rolagem i{
    color: rgb(0, 0, 0);
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0 40px;
}

header ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    position: relative;
}

header li a::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: #ff0000;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: 0.5s ease-in-out;
}

header li a:hover::after{
    width: 100%;
}

header a i{
    color: #ffffff;
}

.logo-image {
    background-color: none;
    text-decoration-style: none;
    text-decoration: none;
    text-align: left;
}

.logo-image img {
    width: 10%;
    max-width: 30%;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.logo-image img:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}


.banner {
    height: 100vh;
    width: 100%;
    background-color: black;
    /*background-image: url(img/banner.png);*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.banner h1 {
    font-size: 5em;
    color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    line-height: 0.8;
    z-index: 998;
}

.banner h1 span {
    font-size: 3rem;
    color: #ff0000;
    z-index: 997;
}

/* Benefícios */
section {
    width: 80%;
    margin: 80px auto;
  }
  
  .title {
    text-align: center;
    font-family: var(--ff-montserrat);
    font-size: 4vmin;
  }
  
  .row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  
  .card {
    cursor: pointer;
    height: 400px;
  }
  
  .row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    height: 450px;
  }
  
  .row .col img {
    width: 90%;
  }
  
  .beneficios .row {
    margin-top: 50px;
  }
  
  .col > h4 {
    font-size: calc(1rem + 0.5vw);
    margin: 20px auto;
    font-family: var(--ff-lora);
  }
  
  .col p {
    color: #7c7c7c;
    padding: 0px 40px;
    font-size: var(--fs-paragraphs);
    font-family: var(--ff-roboto);
  }
  
  .col > p {
    color: #7c7c7c;
    padding: 0;
    line-height: 1.5;
    text-align: center;
    max-width: 35ch;
  }
  
  .beneficios .ctn {
    margin-top: 30px;
  }
  
  /* Nossa história */
  .NossaHistory {
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg2.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
  }
  
  .conteudo {
    font-family: var(--ff-lora);
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 8rem;
    position: relative;
    z-index: 1;
    padding: 2rem 17px;
    margin: auto;
  }
  
  .conteudo::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    display: block;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2.5px);
    border-radius: 0.5rem;
  }
  
  .conteudo h1 {
    /* width: 100%; */
    font-size: calc(2.2rem + 1vw);
    letter-spacing: 0.3rem;
    margin: auto;
  }
  .conteudo .line {
    margin-bottom: 50px;
  }
  
  .conteudo p {
    color: rgb(221, 221, 221);
    max-width: 65ch;
    line-height: 1.5;
    text-align: left;
    padding: 0px 35px;
  }
  
  .conteudo {
    margin: 17px auto;
    padding: 12px 27px;
  }

  .ctn {
    color: white;
    padding: 12px;
    background-color: red;
    border-radius: 25px;
  }

  .ctn:hover {
    background-color: black;
  }
  
  /* Vantagens */
  .image-gallery {
    display: grid;
    gap: 1.8rem 1rem;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    padding: 1rem;
  }
  
  .vantagens .row {
    gap: 4rem;
  }
  
  .content-col {
    position: relative;
  }
  
  .content-col h1 {
    font-size: calc(2.2rem + 1vw);
    font-family: var(--ff-lora);
    max-width: 15.5ch;
  }
  
  .content-col .line {
    margin-left: 0;
  }
  
  .content-col p {
    padding: 0;
    margin: 30px 0;
    width: 100%;
    text-align: left;
    max-width: 40ch;
  }
  
  .content-col .ctn {
    position: absolute;
    left: 0;
    bottom: -14%;
  }
  
  /* Sobre */
  #sobre {
    width: 100%;
  }
  
  #about_us {
    background: url("https://cronos-media.sesisenaisp.org.br//api/media/1-0/files?img=img_49_210805_962a03ed-87db-4004-974f-6ab9bcd14075_o.jpg&tipo=p");
    width: 100%;
    height: 630px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 30px 0px 0px 0px;
    object-fit: cover;
    
  }
  
  #about_us div {
    padding: 10px;
    display: grid;
    align-items: center; 
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 5px;
    position: relative;
  }
  
  
  #about_us div span {
    margin: 0;
    position: absolute;
    top: 60%;
    opacity: 0;
    left: 80%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: 1s;
  }
  
  #about_us p {
    width: 43em;
    color: white;
    text-align: justify;
    padding-top: 14em;
    font-family: "Work Sans", sans-serif;
    margin-left: 6em;
  }
  
  #about_us p::first-letter {
    padding-left: 47px;
    font-size: 55px;
    color: red;
  }
  
  /* contatos*/
  #contatos {
    width: 90%;
  }
  
  .contateNos {
    margin-top: 3rem;
    display: flex;
    font-family: var(--ff-roboto);
  }
  
  form {
    width: 50%;
  }
  
  .cbox {
    width: 45%;
    margin-left: 70px;
    padding: 10px 30px;
    list-style: none;
    text-decoration: none;
  }
  
  .cbox-message {
    font-size: 1.2em;
    margin: 0;
  }
  
  .cbox-line {
    width: 20%;
    height: 0.2em;
    background-color: red;
    margin-bottom: 3em;
    margin-top: 1em;
  }
  
  .c_boxx a p {
    color: white;
    font-size: 1em;
    font-weight: 100;
    padding: 1rem;
    padding: 0px 40px;
  }
  
  .c_boxx a {
    padding: 1em;
    margin-bottom: 2em;
    padding-left: 2em;
    border: 0.1em solid red;
    background-color: red;
    color: white;
    display: flex;
    border-radius: 2em;
    align-items: center;
    border: red 0.1em solid;
    font-size: 1em;
  }
  
  .c_boxx a:hover {
    background-color: white;
    color: red;
    transition: all 0.5s ease;
  }
  
  .c_boxx i {
    font-size: 38px;
    margin-right: 10px;
    /* margin-left: 0.5em; */
  }
  
  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 0px 0px 7px 6px;
    display: inline-block;
  }
  
  input[type="submit"] {
    background-color: red;
    color: whitesmoke;
    padding: 12px 50px;
    border: 2px solid red;
    border-radius: 100vmax;
    cursor: pointer;
    font-family: var(--ff-montserrat);
    font-size: var(--fs-links-btns);
  }
  
  input[type="submit"]:hover {
    background-color: whitesmoke;
    color: red;
  }
  
  .cform {
    background-color: #222;
    padding: 1em;
    border-radius: 0.5rem;
  }
  
  .ccol {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .crow-in {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .crow-message {
    margin: 1rem;
  }
  
  .crow-message div {
    width: 20%;
    display: block;
    height: 1em;
    border-bottom: 3px solid red;
  }
  
  .ccol-left {
    margin: 1em;
  }
  
  .ccol {
    float: left;
    width: 100%;
    margin-top: 6px;
  }
  
  #name {
    width: 90%;
    margin: 1em;
  }
  
  #email {
    width: 90%;
    margin: 1em;
  }
  
  .crow:after,
  .crow-s::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .crow-s {
    margin: 1em;
    color: red;
  }
  
  /* rodapé */
  .rodape {
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: #222;
    text-align: center;
  }
  
  .rodape p {
    color: whitesmoke;
    margin: 20px auto;
    padding: 20px auto;
  }
  
  .rodape span {
    display: block;
    color: whitesmoke;
    padding: 20px auto;
  }
  
  .social {
    width: 360px;
    margin: 30px auto;
  }
  
  .social li {
    list-style: none;
  }
  
  .social a {
    margin-right: 10px;
    font-size: 18px;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .social a:hover {
    background-color: red;
  }
  
  .social i {
    display: inline;
    text-align: center;
    color: whitesmoke;
  }
  
  /* animações */
  img {
    transition: transform 0.3s ease;
  }
  
  img:hover {
    transform: scale(1.1);
  }
  
  .cir_border:hover{
      color: red;
  }
  
  
  .active {
    border: 2px solid whitesmoke;
    border-radius: 20px;
    color: red;
    cursor: pointer;
  }
  
  .ctn:hover {
    background: whitesmoke;
    color: red;
    box-shadow: 2px 2px 5px #00000056;
    cursor: pointer;
  }
  
  .nav-links .ctn:hover a {
    color: red;
  }
  
  body {
   background-color: black;
    color: white;
  }
  
  body.dark{
    background-color: white;
    color: black;
  }
  
  .checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .label {
    width: 48px;
    height: 22px;
    background-color:#111;
    display: flex;
    border-radius:50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
  }
  
  .ball {
    width: 20px;
    height: 18px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
  
  /*  segmentar o elemento após o rótulo*/
  .checkbox:checked + .label .ball{
    transform: translateX(24px);
  }
  
  .fa-moon-o {
    color: white;
  }
  
  .fa-sun-o {
    color: yellow;
  }
  
  .color{
    color:white;
  }
  /* botão de rolar */
  #upbtn {
    display: none;
    position: fixed; 
    bottom: 20px; 
    right: 30px;
    z-index: 99;
    border: none; 
    outline: none; 
    cursor: pointer; 
    padding: 15px; 
    font-size: 40px; 
  }
  #upbtn:hover {
    background-color: red; 
  }
  
  #quote {
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(45deg, red, #fff, #41031d);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 8s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }
  
  
  /* carossel */
  
  @import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
  
  
  input[type=radio] {
    display: none;
  }
  
  .cardt {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 5vw;
    right: 0;
    top: 14%;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer;
  }
  
  .containerx {
    width: 100%;
    height: 70vh;
    transform-style: preserve-3d;
  }
  
  .cards {
    position: relative;
    width: 100vw;
    height: 100%;
    object-fit: cover;
  }
  
  .cards label img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
  
  #item-1:checked ~ .cards #col-img-3, #item-2:checked ~ .cards #col-img-1, #item-3:checked ~ .cards #col-img-2 {
    transform: translatex(-40%) scale(.8);
    opacity: .4;
    z-index: 0;
  }
  
  #item-1:checked ~ .cards #col-img-2, #item-2:checked ~ .cards #col-img-3, #item-3:checked ~ .cards #col-img-1 {
    transform: translatex(40%) scale(.8);
    opacity: 0.4;
    z-index: 0;
  }
  
  #item-1:checked ~ .cards #col-img-1, #item-2:checked ~ .cards #col-img-2, #item-3:checked ~ .cards #col-img-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
  }
    
    img {
      box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
    }
  
  #item-2:checked ~ .player #test {
    transform: translateY(0);
  }
  
  #item-2:checked ~ .player #test  {
    transform: translateY(-40px);
  }
  
  #item-3:checked ~ .player #test  {
    transform: translateY(-80px);
  }
  
  /* Fim */